.start {
    width: 70%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    padding: 30px;
    /* text-align: center; */
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    text-align: center;
}
i{

    /* justify-content: center; */
    font-size: 50px;
}

a{
    background-color: orange;
    padding: 10px;
}