nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(84, 84, 155);
    color: white;
    padding: 30px;
    align-content: center;
}

img{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    padding: 0;
}

.logo{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
}

section{
    display: flex;
    /* color: aqua; */
    padding: 10px 10px 10px 90px;
    /* margin: 20px; */
}
